name: polarsen-dev


volumes:
  db-data:
    name: polarsen_db_dev
  s3-data:
    name: polarsen_s3_dev


services:
  db:
#    image: pgvector/pgvector:pg16
    image: rg.fr-par.scw.cloud/polarsen/postgres:18-trixie
    restart: unless-stopped
    ports:
      - "127.0.0.1:5432:5432"
    command: [
      '-c', 'fsync=off',
      '-c', 'config_file=/etc/postgresql/postgresql.conf',
      '-c', 'hba_file=/etc/postgresql/pg_hba.conf'
    ]
    environment:
      - POSTGRES_PASSWORD=${PG_PASSWORD:-postgres}
      - POSTGRES_USER=${PG_USER:-postgres}
    volumes:
      - ./static/postgres.conf:/etc/postgresql/postgresql.conf:ro
      - ./static/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - db-data:/var/lib/postgresql

  s3:
    image: quay.io/minio/minio
    restart: unless-stopped
    ports:
      - "127.0.0.1:9001:9001"
      - "127.0.0.1:9000:9000"
    command: [
      'server', '/data', '--console-address', ':9001'
    ]
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:-minioadmin}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-minioadmin}
    volumes:
      - s3-data:/data

  api:
    develop:
      watch:
        - action: sync+restart
          path: ../polarsen
          target: /polarsen
          ignore:
            - ai
            - bot
            - cli
        - action: rebuild
          path: ../uv.lock
    build:
      context: ..
      dockerfile: infra/api.Dockerfile
      args:
        PROJECT_MODE: "api"

    restart: unless-stopped
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID:-minioadmin}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY:-minioadmin}
      - S3_ENDPOINT=${S3_ENDPOINT:-http://s3:9000}
      - CHAT_UPLOADS_S3_BUCKET=${CHAT_UPLOADS_S3_BUCKET:-chat-uploads}
    command: [ "start", "-vv" ]
    ports:
      - "127.0.0.1:5050:5050"
    depends_on:
      - db
#    profiles:
#      - api

  bot:
    develop:
      watch:
        - action: sync+restart
          path: ../polarsen
          target: /polarsen
          ignore:
            - ai
            - api
            - cli
        - action: rebuild
          path: ../uv.lock

    build:
      context: ..
      dockerfile: infra/bot.Dockerfile
      args:
        PROJECT_MODE: "bot"

    restart: unless-stopped
    env_file: .env
    environment:
      - PYTHONUNBUFFERED=1
      - API_URL=${API_URL:-http://api:5050}
    command: [ "start", "-vv" ]
    depends_on:
      - api
#    profiles:
#      - api

  uploads-listener:
    develop:
      watch:
        - action: rebuild
          path: ../uv.lock
        - action: sync
          path: ../polarsen
          target: /polarsen
    build:
      context: ..
      dockerfile: infra/cli.Dockerfile
      args:
        PROJECT_MODE: "cli"
    restart: unless-stopped
    command: [ "-vv", "chat", "listen-uploads" ]
    environment:
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID:-minioadmin}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY:-minioadmin}
      - S3_ENDPOINT=${S3_ENDPOINT:-http://s3:9000}
      - NB_WORKERS=${NB_WORKERS:-2}
      - PG_HOST=db
      - CHAT_UPLOADS_S3_BUCKET=${CHAT_UPLOADS_S3_BUCKET:-chat-uploads}
      - SLEEP_NO_DATA=${SLEEP_NO_DATA:-60}
    depends_on:
      - db
      - s3
    profiles:
      - listener

  segmentation-listener:
    develop:
      watch:
        - action: rebuild
          path: ../uv.lock
        - action: sync
          path: ../polarsen
          target: /polarsen
    build:
      context: ..
      dockerfile: infra/cli.Dockerfile
      args:
        PROJECT_MODE: "cli"
    restart: unless-stopped
    command: [ "-vv", "chat", "listen-segmentation" ]
    environment:
      - NB_WORKERS=${NB_WORKERS:-2}
      - PG_HOST=db
      - SLEEP_NO_DATA=${SLEEP_NO_DATA:-60}
    depends_on:
      - db
    profiles:
      - listener

  cli:
    develop:
      watch:
        - action: rebuild
          path: ../uv.lock
        - action: sync
          path: ../polarsen
          target: /polarsen
    build:
      context: ..
      dockerfile: infra/cli.Dockerfile
      args:
        PROJECT_MODE: "cli"
    environment:
      - S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID:-minioadmin}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY:-minioadmin}
      - S3_ENDPOINT=${S3_ENDPOINT:-http://s3:9000}
    depends_on:
      - db
      - s3
    profiles:
      - cli

  pg-init:
    build:
      context: ..
      dockerfile: infra/cli.Dockerfile
      args:
        PROJECT_MODE: "cli"
    command: ['-v', 'db', 'setup']
    environment:
      - PG_HOST=db
      - PG_USER=${PG_USER:-postgres}
      - PG_PASSWORD=${PG_PASSWORD:-postgres}
    depends_on:
      - db

  s3-init:
    image: minio/mc
    restart: no
    environment:
      - MINIO_USER=${MINIO_USER:-minioadmin}
      - MINIO_PASSWORD=${MINIO_PASSWORD:-minioadmin}
      - BUCKETS=chat-uploads,
    volumes:
      - ./static/init-s3.sh:/init-s3.sh:ro
    entrypoint: [ "/init-s3.sh" ]
    depends_on:
      - s3


  pg-init-test:
    build:
      context: ..
      dockerfile: infra/cli.Dockerfile
      args:
        PROJECT_MODE: "cli"
    command: ['-v', 'db', 'setup']
    environment:
      - PG_HOST=db
      - PG_USER=${PG_USER:-postgres}
      - PG_PASSWORD=${PG_PASSWORD:-postgres}
      - PG_DATABASE=polarsen_test
    depends_on:
      - db
    profiles:
      - test


  test:
    build:
      context: ..
      dockerfile: infra/test.Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ../uv.lock
        - action: sync
          path: ../polarsen
          target: /polarsen
    environment:
      - PG_DATABASE=polarsen_test
      - PG_HOST=db
      - PG_USER=${PG_USER:-postgres}
      - PG_PASSWORD=${PG_PASSWORD:-postgres}
      - S3_ENDPOINT=http://s3:9000
      - S3_ACCESS_KEY_ID=minioadmin
      - S3_SECRET_ACCESS_KEY=minioadmin
      - CHAT_UPLOADS_S3_BUCKET=uploads-test
    depends_on:
      - db
      - s3
    volumes:
      - ../polarsen:/app/polarsen
      - ../tests:/app/tests
    profiles:
      - test
