services:

  postgres:
    container_name: pg_polarsen
    image: pgvector/pgvector:pg16
    profiles: ["ram"]
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./static/init-pg.sh:/docker-entrypoint-initdb.d/init-pg.sh:ro
      - ./static/postgres.conf:/etc/postgresql/postgresql.conf:ro
      - ./static/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ../sql:/sql_scripts
    environment:
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_USER=${PG_USER}
    tmpfs:
      - /var/lib/postgresql/data
    command: [
      '-c', 'fsync=off',
      '-c', 'config_file=/etc/postgresql/postgresql.conf',
      '-c', 'hba_file=/etc/postgresql/pg_hba.conf'
    ]

  postgres-disk:
    image: pgvector/pgvector:pg16
    container_name: pg_polarsen_disk
    profiles: ["disk"]
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_USER=${PG_USER}
    volumes:
      - ./static/init-pg.sh:/docker-entrypoint-initdb.d/init-pg.sh:ro
      - ./static/postgres.conf:/etc/postgresql/postgresql.conf:ro
      - ./static/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ../sql:/sql_scripts
      - ../data/pg:/var/lib/postgresql/data
    command: [
      '-c', 'fsync=off',
      '-c', 'config_file=/etc/postgresql/postgresql.conf',
      '-c', 'hba_file=/etc/postgresql/pg_hba.conf'
    ]
