name: Build and Push Docker Image

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build"
        required: true
        type: string

env:
    REGISTRY: rg.fr-par.scw.cloud

jobs:

  buildx:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.tag || github.ref }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        # Avoid using 'latest' for pre-releases (e.g., 1.2.3-rc1)
        with:
          images: ${{ env.REGISTRY }}/polarsen/polarsen
          tags: |
            type=raw,value=latest,enable=${{ inputs.tag && !contains(inputs.tag, '-') || startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, '-') }}
            type=raw,value=${{ inputs.tag || github.ref_name }},enable=true
            type=sha

      - name: Login to Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.SCW_ACCESS_KEY_ID }}
          password: ${{ secrets.SCW_SECRET_KEY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          push: true
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          targets: api,bot,cli
          set: |
            *.args.VERSION=${{ inputs.tag || steps.meta.outputs.version }}
