name: Run Tests
on:
  push:
  pull_request:
  workflow_call:


jobs:
  run-tests:

    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v5

        - name: Run ruff
          uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
          with:
            version: ">=0.12.1"

        - name: Setup UV
          uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
          with:
            version: "latest"

        - name: Run Pyright
          run: uv run pyright

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

        - name: Run tests
          run: |
            ./bin/tests.sh
